.container {
  display: grid; 
  grid-template-columns: 1fr 1fr 0.9fr 0.1fr; 
  grid-template-rows: 0.2fr 0.2fr 1fr 1fr 1fr 0.5fr; 
  background: #BBF6C0;
  background: -webkit-linear-gradient(top left, #BBF6C0, #2852DD);
  background: -moz-linear-gradient(top left, #BBF6C0, #2852DD);
  background: linear-gradient(to bottom right, #BBF6C0, #2852DD);
  gap: 0px 0px; 
  width:100vw;
  height:100vh;
  grid-template-areas: 
    "Header Header Header Header"
    "Search Search Search SideBar"
    "Main Main Main SideBar"
    "Main Main Main SideBar"
    "Main Main Main SideBar"
    "Footer Footer Footer Footer"; 
}
.Header { 
  grid-area: Header; 
  width: 100vw;
}

.Main { 
  grid-area: Main; 
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.SearchContainer { 
  grid-area: Search; 
  display: flex;
  justify-content:center;
  align-items: center; 
  margin-bottom: 15px;

}
.SideBar { 
  grid-area: SideBar;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Footer { 
  grid-area: Footer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw; 
}

.search {
  align-items: center;
  justify-items: center;
  align-self: center;
}