.banner{
  background: rgb(31, 107, 107);
  padding: 10px;
  min-height: 250px;
  margin-bottom: 10%;
}

.image{
  position: absolute;
  justify-self: center;
  left: 16%;
}

.container{
  display: flex;
  flex-flow: row;
}