

.container {
  display: grid; 
  grid-template-columns: 1fr 1fr 0.9fr 0.2fr; 
  grid-template-rows: 0.2fr 0.2fr 1fr 1fr 1fr 0.5fr; 
  /* Created with https://www.css-gradient.com */
  background: #BBF6C0;
  background: -webkit-linear-gradient(top left, #BBF6C0, #2852DD);
  background: -moz-linear-gradient(top left, #BBF6C0, #2852DD);
  background: linear-gradient(to bottom right, #BBF6C0, #2852DD);
  gap: 0px 0px; 
  width:100vw;
  height:100vh;
  grid-template-areas: 
    "Header Header Header Header"
    "Search Search Search SideBar"
    "Main Main Main SideBar"
    "Main Main Main SideBar"
    "Main Main Main SideBar"
    "Footer Footer Footer Footer"; 
}
.Header { 
  grid-area: Header; 
  /* background-color: red; */
  width: 100vw;
}

.Main { 
  grid-area: Main; 
  /* background-color: aqua; */
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.SearchContainer { 
  grid-area: Search; 
  display: flex;
  justify-content:center;
  background-color: gold; 

}
.SideBar { 
  grid-area: SideBar;
  /* background-color: teal;*/
  justify-content: center;
  align-items: center;
  align-self: center;
}

.Footer { 
  grid-area: Footer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100vw;
  /* background-color: blueviolet; */
}

